iframe {
  width: 100%;
  margin-top: 2rem;
}

.grid > div {
  height: 60px;
  background: var(--danger);
  border: 3px solid var(--secondary);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.landing-page {
  height: 50vh;
  /* max-width: 20em; */
  text-align: center;
  margin: 2em auto;
}

.landing-page-hero {
  font-size: 1.5rem;
}
